<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div id="app" class="d-flex align-items-enter">

        <div class="container">
            <div class="row">
                <!-- left side della web app -->
                <div id="contactList" class="col-4 p-0 bg-light">
                    <!-- Above lista contatti -->
                    <div id="upperLeft">
                        <div class="user d-flex justify-content-between align-items-center p-2">
                            <div class="d-flex align-items-center">
                                <figure>
                                    <img src="./assets/img/avatar_io.jpg" alt="avatar">
                                </figure>
                                <span class="mx-1 fw-bold">Sofia</span>
                            </div>
                            <div id="userIcons" class="d-flex gap-2">
                                <i class="fa-solid fa-rotate-right"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div id="notify" class="p-2 d-flex align-items-center">
                            <i class="fa-solid fa-bell-slash"></i>
                            <div class="d-flex flex-column mx-2">
                                <span class="fw-bold">Ricevi Notifiche di nuovi messaggi</span>
                                <a href="#" class="text-secondary">Attiva notifiche Desktop</a>
                            </div>
                        </div>
                        <div class="container-fluid input-group border d-flex align-items-center p-">
                            <i class="fa-solid fa-magnifying-glass p-2"></i>
                            <input v-model="search" class="form-control  border-0" type="search"
                                placeholder="Cerca o inizia una nuova chat" aria-label="Search">
                        </div>
                    </div>
                    <!-- Fine parte superiore -->
                    <!-- lista chat / parte ineriore-->
                    <div class="chatContainer bg-light">
                        <div v-for="(element,index) in filteredList" class="d-flex mb-3" id="chatContacts"
                            @click="chooseContact(index)">
                            <figure class="p-1">
                                <img :src="element.avatar" alt="">
                            </figure>
                            <div class="d-flex flex-column">
                                <span class="fw-bold">{{element.name}}</span>
                                <span>Ultimo messaggio inviato</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- rigth side web app -->
                <div id="chatBox" class="col-8 p-0 d-flex flex-column">
                    <div
                        class="user d-flex justify-content-between bg-secondary-subtle border-start border-dark-subtle align-items-center p-2">
                        <div class="d-flex align-items-center">
                            <figure>
                                <img :src="contacts[currentContactIndex].avatar" alt="avatar">
                            </figure>
                            <div class="d-flex flex-column">
                                <span class="mx-1 fw-bold">{{contacts[currentContactIndex].name}}</span>
                                <span class="mx-1 text-secondary">Ultimo accesso oggi alle 12:00</span>
                            </div>
                        </div>
                        <div class="chatBoxIcons d-flex gap-2 p-2">
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="chatWindow">
                        <div v-for="text in contacts[currentContactIndex].messages" class="text-end m-5 d-flex justify-content-end">
                            <span class="userText p-2">{{text.message}}</span>
                        </div>
                    </div>
                    <div class="bg-secondary-subtle p-2 d-flex align-items-center">
                        <i class="fa-regular fa-face-smile text-secondary p-2"></i>
                        <input @keyup.enter="sendMessage(index)" v-model="newMessage" type="text" class="form-control" id="messageText" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone text-secondary p-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>




    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
    <script src="https://kit.fontawesome.com/0211243aaf.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>