* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    background: rgb(215,215,210);
    background: linear-gradient(0deg, rgba(215,215,210,1) 85%, rgba(0,150,135,1) 85%);
    padding: 50px;
}

.container{
    background-color: #e6e6e6;
    height: calc(100vh - 100px);
}

#contactList{
    background-color: lightgrey;
    /* height: calc(100vh - 100px); */
}
#chatBox figure,
#contactList figure {
    margin: 0;
    height: 50px;
    width: 50px;
}
#chatBox figure img,
#contactList figure img{
    width: 100%;
    display: block;
    border-radius: 50%;
}


#chatBox{
    background-color: lightblue;
}

#userIcons{
  color: grey;
}
